@use "../../../mixin.scss" as *;
@use "../../../variables.scss" as *;

.popup-canvas {
  &-contents-container {
    border: 1px solid $border;
    padding: 15px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-title {
    display: block;
    margin-bottom: 10px;
  }

  &-info {
    &-list {
      margin: 0;
    }

    &-default-list {
      margin: 0;
      display: flex;
      gap: 30px;
    }

    &-item {
      display: flex;
      align-items: center;

      @at-root .popup-canvas-info-list & {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &-label {
      width: 50px;
      font-size: 14px;
    }

    &-value {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }
  }

  &-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    button:not(:last-child) {
      margin-right: 10px;
    }
  }
}
