.colorpicker {
  &-set {
    position: relative;
    width: 30px;
    height: 34px;
  }

  &-stroke {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &-fill {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
  }
}
